@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*! ---RESET---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Poppins", sans-serif;
}

/*! -------- HEADER ------ */

.navbar {
    background-color: rgba(138, 37, 37, 0.87);
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.container-fluid a {
    color: black;
}

.container-fluid a span {
    color: rgb(177, 162, 162);
}

.navbar-brand {

    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    transition: 0.3s color;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: white;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: black;
}


@media(min-width:991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: orangered;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

/*! -------- MAIN ------ */

.hero {
    width: 100%;
    height: 800px;
    background-image: url(../img/inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    font-size: 30px;
    border: 1px solid white;
    display: inline-block;
    padding: 30px;
    text-align: center;
    color: white;
}

.hero p {
    text-align: center;
    color: white;
    font-size: 25px;
    margin: 20px;
}

.hero a {
    background-color: orangered;
    text-decoration: none;
    color: white;
    padding: 5px;
}

.hero a:hover {
    background-color: brown;
}

.historia {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;

}

.historia div {
    width: 50%;
}

.historia div h2 {
    font-size: 40px;
}

.historia img {
    width: 300;
    height: 450px;
}




.servicios h2 {
    text-align: center;
    background-color: rgba(138, 37, 37, 0.87);
    color: white;
    padding: 20px;
    text-transform: uppercase;
}

.servicios .servicios-contenedor {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.servicios .servicios-contenedor div {
    width: 320px;
    height: 310px;
    border: 1px solid black;
    margin: 30px;
    text-align: center;

}

.servicios div img {
    width: 100%;
    height: 250px;
}


.galeria h3 {
    text-align: center;
    background-color: rgba(138, 37, 37, 0.87);
    color: white;
    padding: 20px;
    text-transform: uppercase;
}


.grid-galeria {
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 15px;
}

.grid-galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagenone {
    grid-column: span 2;
}

.imagentwo {
    grid-row: span 2;
}

.imagensix {
    grid-column: span 2;
}

.grid-item {
    position: relative;
}



/*! -------- FOOTER ------ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: rgba(138, 37, 37, 0.87);
    padding: 70px 0;
}

footer h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}


.container {
    max-width: 1170px;
    margin: auto;
}

ul {
    list-style: none;
}



.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h3 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}


.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}




@media screen and (max-width:910px) {
    .hero h2 {
        font-size: 30px;
    }

    .hero p {
        font-size: 18px;
    }

    .hero a {
        font-size: 16px;
    }
}

@media screen and (max-width:824px) {
    .grid-galeria {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 220px;
    }

    .grid-item {
        grid-column: span 1;
        grid-row: span 1;
    }
}


@media screen and (max-width:686px) {
    header {
        flex-direction: column;
    }
}

@media screen and (max-width:527px) {
    .hero p {
        display: none;
    }

    .hero h2 {
        margin: 10px;
    }
}

@media screen and (max-width:494px) {
    .grid-galeria {
        grid-template-columns: 1fr;
    }

    .grid-item {
        grid-column: span 1;
    }
}

@media screen and (max-width:460px) {
    header nav ul {
        flex-direction: column;
    }

    header {
        position: static;
    }
}

@media screen and (max-width:397px) {
    .hero h2 {
        font-size: 30px;
    }
}